<div class="window-content">
  <div class="pane-group">
	<div class="pane sidebar">
		<div class="padded-more">
			<form>
				<div class="form-group">
					<label>Server</label>
					<input type="text" class="form-control" placeholder="localhost">
				</div>
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" placeholder="root">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control">
				</div>
				<div class="form-group">
					<label>Database</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-form btn-default">Cancel</button>
					<button type="submit" class="btn btn-form btn-primary">OK</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
