<div class="pane-group">
    <div class="pane pane-sm sidebar">
        <nav class="nav-group">
            <h5 class="nav-group-title">Tables</h5>
            <span class="nav-group-item"
                v-for="table in tables"
                :class="isTableActive(table) ? 'active' : ''"
                @click="setTableActive(table)"
            >
                {{ table }}
            </span>
        </nav>
    </div>

    <div class="pane">
        <table class="table-striped">
            <thead>
                <tr>
                    <th v-for="column in columns">{{ column }}</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    is="row"
                    v-for="row in rows"
                    :row="row"
                    :row-index="$index"
                ></tr>
            </tbody>
        </table>
    </div>

    <modal
        v-ref:modal
    >
        <h3 slot="header">{{ columns[updating.column] }}</h3>

        <div slot="body">
            <div class="form-group">
                <textarea
                    rows="5"
                    class="form-control vresize"
                    v-model="updating.value"
                    v-el:field
                ></textarea>
            </div>
        </div>

        <div slot="footer">
            <button class="btn btn-default" @click="modalClose">Cancel</button>
            <button class="btn btn-positive pull-right" @click="save">Save</button>
        </div>
    </modal>
</div>
