<!DOCTYPE html>
<html>
  <head>
    <title>Sparklez</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../css/app.css">
  </head>
  <body>
    <div class="window" id="app">
      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">
        <div class="toolbar-actions">

          <button class="btn btn-default"
                  @click="connect()"
          >
            <span class="icon icon-flash icon-text"></span>
            Connect
          </button>
        </div>
      </header>

      <tabs></tabs>

      <connection
          v-if="!connection.active"
      ></connection>

      <database
           v-if="connection.active"
      ></database>
    </div>
    <script src="../js/app.js" charset="utf-8"></script>
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
  </body>
</html>
