<div class="tab-group">
    <div class="tab-item active"
         v-for="item in items"
         :class="isActive($index) ? 'active' : ''"
         @click="setActive($index)"
    >
        <span class="icon icon-cancel icon-close-tab"
              @click="remove($index)"
        ></span> {{item}}
    </div>

    <div class="tab-item tab-item-fixed"
         @click="add()"
    >
        <span class="icon icon-plus"></span>
    </div>
</div>

<tab
    v-for="item in items"
    :tab.sync="tab"
    :name="tab"
    :active="isActive($index)"
></tab>
