// =============================================================================
// Resize
// =============================================================================

.noresize {
    resize: none !important;
}

.vresize {
    resize: vertical !important;
}

.hresize {
    resize: horizontal !important;
}

// =============================================================================
// Cursor Pointer
// =============================================================================
.pointer {
    cursor: pointer;
}

.btn {
    @extend .pointer;

    .icon {
        @extend .pointer;
    }
}

.nav-group-item {
    @extend .pointer;
}

.data-rows {
    table {
        th, td , input {
            @extend .pointer;
        }
    }
}
