// =============================================================================
// Resize
// =============================================================================

.noresize {
  resize: none !important;
}

.vresize {
  resize: vertical !important;
}

.hresize {
  resize: horizontal !important;
}
