.table-striped {
    tr:active input {
        color: $white;
    }

    tr.active {
        background-color: $active-color;
        color: $white;

        input {
            color: $white;
        }

        td.active input, td.active.big span {
            background-color: $white;
            color: $black;
        }
    }

    tr {
        th {
            padding: 5px 10px;
        }

        td {
            padding: 2px 5px;

            input {
                background: transparent;
                border: none;
                min-width: 50px;
                color: $black;
                padding: 2px 5px;

                &:focus {
                    outline: none;
                }
            }

            span {
                display: block;
                padding: 2px 5px;
                width: 100%;
            }
        }
    }

}
