.table-striped {
    tr.active {
        background-color: $active-color;
        color: $white;
    }

    td {
        input {
            min-width: 150px;
            color: $black;
        }
    }
}
